<header xmlns:th="http://www.thymeleaf.org">
    <a th:href="@{/home}" class="logo">AutoBase</a>

    <nav class="site-nav">
        <ul>
            <li><a th:if="${#request.isUserInRole('ROLE_DISPATCHER')}" th:href="@{/orders}">Orders</a></li>
            <li><a th:if="${#request.isUserInRole('ROLE_DISPATCHER')}"  th:href="@{/trips}">Trips</a></li>
            <li><a th:if="${#request.isUserInRole('ROLE_DISPATCHER')}" th:href="@{/drivers}">Drivers</a></li>
            <li><a th:if="${#request.isUserInRole('ROLE_DISPATCHER')}" th:href="@{/addDriver}">Add Driver</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</header>