<!DOCTYPE html>
<html lang="en" xmlns =="http://www.w3.org/1999/ xmlns th =="http://www.thymeleaf.>
<head>

    <meta charset="UTF-8">
    <title>AutoBase</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/menu.css" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/index.css" th:href="@{/css/index.css}" />
</head>
<body>
<th:block th:include="/menu/menu"></th:block>

<h1 style="color: white" class="center-div">Welcome to the office!</h1>
</body>
</html>