<!DOCTYPE html>
<html lang="en" xmlns =="http://www.w3.org/1999/ xmlns th =="http://www.thymeleaf.>
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/menu.css" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/index.css" th:href="@{/css/index.css}" />
</head>
<body>
<header>
    <a href="#" class="logo">AutoBase</a>
    <nav class="site-nav">
        <ul>
            <li><a th:href="@{/orders}">Orders</a></li>
            <li><a href="#">Actionable Trips</a></li>
            <li><a href="#">Drivers</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</header>

<h1>dd</h1>
</body>
</html>